.bookdetail clearfix{
    -webkit-text-size-adjust: 100%;
    font: 12px "Arial",Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 10px 0 0;
    color: #333;
    }
    .infor{
        
        
        padding: 0;
        margin: 0;
        margin-left: 366px;
        border-bottom: 4px solid #cacbcc;
    }
    .infor h1{
        
        color: #333;
        padding: 0;
        margin: 0;
        border-bottom: 4px solid #cacbcc;
        line-height: 0;
        padding-bottom: 15px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .image{
        
        float: left;
        height: 342px;
        width: 318px;
        position: relative;
    }
    .intro 
    {
       
        color: #333;
        padding: 0;
        margin: 0;
    }
    div.atrributes{
        color: #333;
        padding: 0;
        margin: 0;
        float: left;
        width: 245px;
    }
    li{
        list-style: none;
        border-bottom: 1px solid #999;
        color: #333;
        line-height: 20px;
        padding: 5px 0;
    }
