
<div class="body">

  <head>
    <title>My Book Store</title>
  </head>

  <body>
    <div class="wrapper">
      <div class="store">
        <h1>Book Store</h1>
        <div id="headerImage">
          <img src="https://s22.postimg.cc/wqktmcdsx/3243335.jpg" alt="book logo" />
        </div>

        <header id="homeSection">
          <nav>
            <a href="#homeSection" (click)="DirectFunction('bookContainer',2)" >Home</a>
            <a href="#aboutSection">About us</a>
            <a href="#genreSection">Genres</a>
            <a href="#gallerySection">Gallery</a>
            <a href="#contactSection">Contact Book Store</a>
            <hr style="color: red; margin: 20px;">
          </nav>
        </header>
        <section>
          <div class="container" *ngIf="nextcom=='bookContainer'">
            <div class="bookContainer" id="book01" *ngFor="let i of bookList" (click)="DirectFunction('bookinfor', i.bookid)">
              <div class="bookImage" id={{i.bookid}}> <img src={{i.img}} alt="image"></div>
              <p class="bookTitle">
                {{i.bookname}} <br /> {{i.author}}
              </p>
              <div class="bookPrice">{{i.price}} $</div>
              <p class="bookEdition">{{i.rating}}/4</p>
            </div>

          </div>
          <div *ngIf="nextcom=='bookinfor'">
            <app-bookinfor [id]="id"></app-bookinfor>
          </div>


        </section>
      </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
      $(function () {
        $('a[href*="#"]:not([href="#"])').click(function () {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

