html {
    margin: auto;
    font-family: Segoe UI;
    background: #f8f6f2;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    text-align: justify;
  }
  
  s {
    color: #9f9f9f;
  }
  
  .logo {
    width: 530px;
    height: 120px;
    background-image: url("https://i.imgur.com/N0S9HLi.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
  }
  
  .header {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #ffc907;
    color: #322737;
    text-align: center;
  }
  
  .container {
    position: relative;
    width: 70vw;
    top: 120px;
    margin: 40px auto;
   
  }
  
  .bookContainer {
    vertical-align: top;
    display: inline-block;
    background: #ffffff;
    width: 220px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    margin: 1%;
  }
  
  .bookContainer:hover {
    background: #ffc907;
    color: #515151;
  }
  
  .bookContainer a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    width: 60px;
    height: 30px;
    color: #2980b9;
  }
  
  .bookImage {
    width: 200px;
    height: 240px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 20px auto 15px;
    display: block;
    object-fit: cover
  }
  
  .bookImage img
  {
  
   max-width: 100%;
   box-shadow: 3px 5px rgba(33,33,33, 0.2);
  }
  .bookPrice {
    background: #f8f6f2;
    color: #27ae60;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .bookTitle {
    margin: 0;
  }
  
  .bookEdition {
    color: #9f9f9f;
    margin: 5px;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  